.main-menu-bar {
    display: flex;
    justify-content: center;
}


ol {
    list-style-type: none;
    padding: 100px;
    margin: 0;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    align-items: center;
}

ol > li {
    float: left;
    background-color: #DDDDDD;
    width: 150px;
}

ol a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}

ol > li > a:hover {
    color: #0099CC;
}

ol > li:hover {
    background-color: #EEE;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li {
    float: left;
    background-color: #0099CC;
    width: 180px;
    margin-left: 1px;
    height: 2em;
}

ol > li:first-child {
    margin-left: 0;
}

ol > li > ul > li > a {
    border-top: 1px solid #000000;
}

ol {
    background-color: #FFF;
}

ol > li > ul > li {
    background-color: #EEE;
}

ol > li > ul > li:hover {
    background-color: #DDD;
}

ol > li > ul > li:hover a {
    color: #09C;
}

ol > li > ul {
    display: none;
}

ol > li:hover > ul {
    display: block;
}

ol > li:hover > a {
    color: #09C;
}

.grid-content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    align-content: center;
}

.grid-content > .container1 {
    float: left;
    margin-right: 10px;
    padding: 0px;
    border: #DDDDDD solid;
    align-items: stretch;
    width: 50%;
    height: 500px;
    align-content: center;
    overflow: inherit;
}

.grid-content > .container1:first-child {
    width: 25%;
}

.grid-content > .container1:last-child {
    width: 25%;
}

.grid-content > .container2 {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    border: #DDDDDD solid;
    width: 33%;
    height: 500px;
    align-content: center;
    overflow: auto;
    overflow: inherit;
}

.grid-content:has(.empty) {
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
}


body {
    margin-bottom: 20px;
}

#footer {
    position: fixed;
    height: 20px;
    background-color: #0099CC;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: right;
    padding-right: 50px;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 16px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 10px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: black;
}

#myCar {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}