{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'rate_a_car_app/style.css' %}">
</head>
<body>
<div class="main-menu-bar" id="top">
    <div class="main-logo"><img src="{% static 'rate_a_car_app/cars.png' %}" width="220px" height="140px"></div>
    <div class="main-bar">
        <ol>
            <li><a href="/">Strona główna</a></li>
            <li><a href="#">Auta</a>
                <ul>
                    <li><a href="{% url 'cars' %}">Przeglądaj</a></li>
                    <li><a href="{% url 'create-model' %}">Dodaj model</a></li>
                </ul>
            </li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Zaloguj</a>
                <ul>
                    <li><a href="{% url 'register' %}">Zarejestruj</a> </li>
                </ul></li>
            {% else %}
            <li>{{ request.user.username}}
                <ul>
                    <li><a href="{% url 'user-profile' request.user.username %}">Profil użytkownika</a></li>
                    <li><a href="{% url 'car-history' request.user.username %}">Historia aut</a></li>
                    <li><a href="{% url 'settings' %}">Ustawienia</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Panel</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}"> Wyloguj</a></li>
                </ul>
            {% endif %}
            </li>
            <li>Kontakt
                <ul>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Regulamin</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
            <li>Wyszukaj
                <ul>
                    <li><form method="post"><input type="text"><input type="submit" value="Wyszukaj"></form></li>
                    <li><a href="#">Zaawansowane wyszukiwanie</a> </li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<div class="grid-content first">
    <div class="container1 1">
        {% block container1 %}
        {% endblock %}
    </div>
    <div class="container1 2">
        {% block container2 %}

        {% endblock %}
    </div>
    <div class="container1 3">
        {% block container3 %}

        {% endblock %}
    </div>
</div>
<div class="grid-content second">
    <div class="container2 1">
        {% block container4 %}

        {% endblock %}
    </div>
    <div class="container2 2">
        {% block container5 %}

        {% endblock %}
    </div>
    <div class="container2 3">
        {% block container6 %}

        {% endblock %}
    </div>
</div>

<script src="{% static 'rate_a_car_app/jsscripts.js' %}"></script>
</body>
<footer id="footer">
    Pomysł i wykonanie Wojciech Łaska, wszelkie prawa zastrzeżone.
    {% now "d.m.Y " %}
    {% if user.is_authenticated %}
    Zalogowano jako <a href="{% url 'user-profile' user.username %}">{{ user.username }}</a>

    <a href="{% url 'logout' %}">Wyloguj</a>
    {% endif %}
    <a href="#">Kontakt</a>
    <a href="#">FAQ</a>
    <a href="#top">Do góry</a>
</footer>
</html>