{% extends 'rate_a_car_app/base.html' %}
{% block title %}
{{ brand_name.brand }} | Rate a Car
{% endblock %}

{% block container1 %}
    Marki: <br>
    <a href="{% url 'cars' %}">Wszystkie</a><br>
    {% for brand in brands %}
      <a href="{% url 'car-brand' brand.brand %}">{{ brand }}</a> <br>

    {% endfor %}
{% endblock %}
{% block container2 %}
    Modele {{ brand_name.brand }}:<br>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj auto">
    <table id="myTable">
            <tr id="header">
                <td align="center"> Model </td>
                <td align="center"> Produkowany od </td>
                <td align="center"> Produkowany do </td>
                <td align="center"> Ocena </td>
            </tr>
        {% for car in cars %}
            <tr id="myTR">
                <td align="center"><a href="{% url 'car-details' car.model car.version %}">{{ car.model }}({{ car.version }})</a></td>
{#                <td align="center"><a href="{% url 'car-details' car.model car.version %}">{{ car.model }}({{ car.version }})</a></td>#}
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.production_from }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.production_to }} </a></td>
            {% if car.average_rate %}
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.average_rate }} </a></td>
            {% endif %}
            </tr>
    {% endfor %}
    </table>
{% endblock %}