{% extends 'rate_a_car_app/base.html' %}
{% block title %}
 {{ user.username }} historia pojazdów | Rate a Car
{% endblock %}

{% block container1 %}
    Informacje:<br>
    Nazwa użytkownika: {{ user.username }} <br>
    Imię: {{ user.first_name }} <br>
    Nazwisko: {{ user.last_name }} <br>
    Email: {{ user.email }} <br>
    Data dołączenia: {{ user.date_joined.date }} <br>
    Liczba aut: {{ car_count }}
{% endblock %}

{% block container2 %}
    <h4>Historia pojazdów {{ user.username }}</h4> <br>
    <table id="myTable">
    <tr>
        <td>id</td>
        <td>Marka</td>
        <td>Model</td>
        <td>Wersja</td>
        <td>Średnia ocen</td>
        <td>Użytkowany od</td>
        <td>Użytkowany do</td>
        <td></td>
    </tr>
    {% for car in user_car_history %}
        <tr>
            <td>{{ forloop.counter }}.</td>
            <td><a href="{% url 'car-brand' car.car.brand %}"> {{ car.car.brand }}</a></td>
            <td><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.car.model }}</a></td>
            <td><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.car.version }}</a></td>
            <td><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.car.average_rate }}</a></td>
            <td><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.use_from }}</a></td>
            <td><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.use_to }}</a></td>
            <td><form action="{% url 'remove-car' user car.car.model car.car.version %}" method="post">{% csrf_token %}
                <input type="submit" value="Usuń"></form></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block container3 %}
    <form method="post">
    {% csrf_token %}
    <table id="myUL">
       {{ add_car.as_table }}
    </table>

    <input type="submit" value="Dodaj">
    </form>

    <h5>Brak auta? <a href="{% url 'create-model' %}">Dodaj model</a> </h5>
{% endblock %}

{% block container4 %}
     <div class="test"></div>
{% endblock %}