{% extends 'rate_a_car_app/base.html' %}
{% block title %}
{{ car }} | Rate a Car
{% endblock %}

{% block container1 %}
    Szczegóły: <br>
    Marka: {{ car.brand }} <br>
    Model: {{ car.model }} <br>
    Wersja: {{ car.version }} <br>
    Lata produkcji: {{ car.production_from }} - {{ car.production_to }} <br>

{% endblock %}

{% block container2 %}
    Podsumowanie: <br>


        Wytrzymałość: {{ summary_endurance }} <br>
        Koszty utrzymania: {{ summary_cost }} <br>
        Prowadzenie: {{ summary_leading }} <br>
        Wygląd: {{ summary_design }} <br>

{% endblock %}

{% block container3 %}
    {% if rate_form %}
    <form method="post">
    {% csrf_token %}
    <table>
        {{ rate_form.as_table }}
    </table>
    <input type="submit" value="Głosuj">
    </form>
    {% endif %}
{% endblock %}

{% block container6 %}
    Oceny: <br>
    {% for rate in rates %}
        {{ rate.user }}({{ rate.date.date }}):<br>
        Wytrzymałość: {{ rate.endurance }} <br>
        Koszty: {{ rate.operation_cost }} <br>
        Prowadzenie: {{ rate.leading }} <br>
        Wygląd: {{ rate.design }} <br><br>
    {% endfor %}
{% endblock %}