{% extends 'rate_a_car_app/base.html' %}
{% block title %}
    Przeglądaj auta | Rate a Car
{% endblock %}

{% block container1 %}
    <div align="center">
    Marki: <br>
    {% for brand in brands %}

        <p><a href="{% url 'car-brand' brand.brand %}">{{ brand }}</a> </p>

    {% endfor %}
    </div>
{% endblock %}
{% block container2 %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj auto">
    <table id="myTable">
        <tr><td align="center" colspan="5"><h3>Auta</h3></td></tr>
            <tr id="header">
                <td align="center"> Marka </td>
                <td align="center"> Produkowany od </td>
                <td align="center"> Produkowany do </td>
                <td align="center"> Ocena </td>
            </tr>
        {% for car in new_car %}
            <tr id="myTR">
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.brand }} {{ car.model }}({{ car.version }})</a></td>
{#                <td align="center"><a href="{% url 'car-details' car.model car.version %}">{{ car.model }}({{ car.version }})</a></td>#}
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.production_from }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.production_to }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.model car.version %}"> {{ car.average_rate }} </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


