{% extends 'rate_a_car_app/base.html' %}
{% block title %}
    Przeglądaj auta | Rate a Car
{% endblock %}

{% block container1 %}
    Marki: <br>
    {% for brand in brands %}
      <a href="{% url 'car-brand' brand.brand %}">{{ brand }}</a> <br>

    {% endfor %}
{% endblock %}

{% block container2 %}
    <table class="all-cars">
        <tr><td align="center" colspan="3"><h3>Auta</h3></td></tr>
            <tr>
                <td align="center"> Marka </td>
                <td align="center"> Model </td>
                <td align="center"> Lata produkcji </td>
            </tr>
        {% for car in new_car %}
            <tr>
                <td align="center"> {{ car.brand }} </td>
                <td align="center"><a href="{% url 'car-details' car.model car.version %}">{{ car.model }}({{ car.version }})</a></td>
                <td align="center"> {{ car.production_from }} - {{ car.production_to }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}