{% extends 'rate_a_car_app/base.html' %}
{% block title %}
    Rate a Car
{% endblock %}

{% block container1 %}

    <table class="all-cars">
        <tr>
            <td colspan="2" align="center"><h4>Najwyżej oceniane:</h4></td>
        </tr>
        <tr>
            <td>Model</td>
            <td>Ocena</td>
        </tr>

        {% for car in best_cars %}
            <tr>
                {% if car.average_rate %}
                    <td><a href="{% url 'car-details' car.model car.version %}"> {{ car }} </a></td>
                    <td>{{ car.average_rate }}</td><br>
                    </tr>
                {% endif %}

        {% endfor %}
    </table>
{% endblock %}

{% block container2 %}

    <h4>Najnowsze opinie:</h4>
    {% for notice in new_notices %}
        <ul><h5>
            <img src="{{ notice.author.profile.avatar.url }}" height="30px" width="30px">
            <a href="{% url 'user-profile' notice.author.username %}">{{ notice.author.username }}</a>
            <a href="{% url 'car-details' notice.car.model notice.car.version %}"> {{ notice.car }} </a></h5>
            {{ notice.content }} <br><br>
        </ul>
    {% endfor %}
{% endblock %}



{% block container3 %}
    <ul>
        <h4>Najnowsze oceny:</h4>
        {% for rate in new_rates %}
            <h5>
                <img src="{{ rate.user.profile.avatar.url }}" height="30px" width="30px">
                <a href="{% url 'user-profile' rate.user %}"> {{ rate.user.username }}</a>
                <a href="{% url 'car-details' rate.carmodel.model rate.carmodel.version %}"> {{ rate.carmodel }} </a>
            </h5>
            Wytrzymałość: {{ rate.endurance }} <br>
            Koszty eksploatacji: {{ rate.operation_cost }} <br>
            Prowadzenie: {{ rate.leading }} <br>
            Wygląd: {{ rate.design }} <br>
        {% endfor %}

    </ul>
{% endblock %}

{% block container4 %}
    <table class="all-cars">
        <tr>
            <td align="center"><h4>Ostatnio dodane:</h4></td>
        </tr>

        {% for car in new_cars %}
            <tr>
                <td>
                    <a href="{% url 'car-details' car.model car.version %}">{{ car.brand }} {{ car.model }} {{ car.version }}</a>
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block container5 %}
       {% for img in random_images %}
        <img src="{{ img.image.url }}" alt="zdj {{ forloop.counter }}" height="75%" width="100%">
           <a href="{% url 'car-details' img.carmodel.model img.carmodel.version %}">
               {{ img.carmodel.brand }} {{ img.carmodel.model }} {{ img.carmodel.version }}</a>
        {% endfor %}
{% endblock %}