{% extends 'rate_a_car_app/base.html' %}
{% block title %}
Rate a Car
{% endblock %}
{% block container2 %}
        {% for car in cars %}
        <ul>
            <li>{{ car.brand }} {{ car.name }} {{ car.version }}</li>
        </ul>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if cars.has_previous %}
            <a href="?page=1">&laquo; pierwsza | </a>
            <a href="?page={{ cars.previous_page_number }}">poprzednia | </a>
        {% endif %}

         <span class="current">
                    Strona {{ cars.number }} z {{ cars.paginator.num_pages }}.
                </span>

        {% if cars.has_next %}
            <a href="?page={{ cars.next_page_number }}"> następna  </a>|
            <a href="?page={{ cars.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block container3 %}
    <h4>Najnowsze opinie:</h4>
    {% for notice in new_notices %}
        <h5><a href="{% url 'user-profile' notice.author.username %}">{{ notice.author.username }}</a>
            <a href="{% url 'car-details' notice.car.model notice.car.version %}"> {{ notice.car }} </a></h5>
        {{ notice.content }} <br><br>

    {% endfor %}
{% endblock %}

{% block container6 %}
    <h4>Najnowsze oceny:</h4>
    {% for rate in new_rates %}
        <h5>
            <a href="{% url 'user-profile' rate.user %}"> {{ rate.user.username }}</a>
            <a href="{% url 'car-details' rate.carmodel.model rate.carmodel.version %}"> {{ rate.carmodel }} </a></h5>
        Wytrzymałość: {{ rate.endurance }} <br>
        Koszty eksploatacji: {{ rate.operation_cost }} <br>
        Prowadzenie: {{ rate.leading }} <br>
        Wygląd: {{ rate.design }} <br>
    {% endfor %}
{% endblock %}