{% extends 'rate_a_car_app/base.html' %}
{% block title %}
 {{ user.username }} ustawienia | Rate a Car
{% endblock %}
{% block container1 %}
    <img src="rate_a_car/avatars{{ user.profile.avatar.url }}" height="200px" width="200px" alt="avatar"><br>
    Informacje:<br>
    Nazwa użytkownika: {{ user.username }} <br>
    Imię: {{ user.first_name }} <br>
    Nazwisko: {{ user.last_name }} <br>
    Email: {{ user.email }} <br>
    Data dołączenia: {{ user.date_joined.date }} <br>
    Liczba aut: {{ user.profile.car_history.count }}
{% endblock %}

{% block container2 %}
    {{ error }}
 <form method="post">
 {% csrf_token %}
 <table>
     {{ form.as_table }}
 </table>
 <input type="submit" value="Zmień" name="data">
 </form> <br>
    <form method="post">
    {% csrf_token %}
    <table>
        {{ new_avatar }}
    </table>
    <input type="submit" value="Zmień avatar" name="avatar">
    </form>
{% endblock %}

{% block container3 %}
    {{ error_pass }}
 <form method="post">
 {% csrf_token %}
 <table>
     {{ new_pass.as_table }}
 </table>
 <input type="submit" value="Zmień" name="password">
 </form><br><br>
    <form action="{% url 'delete-user' %}" method="post">
       {% csrf_token %}
       <button type="submit" onclick="return confirm('Usunąć konto?');">Usuń konto</button>
{% endblock %}




{% block container4 %}
 <div class="empty"></div>
{% endblock %}

{% block container5 %}
 <div class="empty"></div>
{% endblock %}
{% block container6 %}
 <div class="empty"></div>
{% endblock %}