{% extends 'rate_a_car_app/base.html' %}
{% load static %}
{% block title %}
{{ user.username }} | Rate a Car
{% endblock %}

{% block container1 %}
    <img src="{{ user.profile.avatar.url }}" alt="avatar" width="200px" height="200px"><br>
    Informacje:<br>
    Nazwa użytkownika: {{ user.username }} <br>
    Imię: {{ user.first_name }} <br>
    Nazwisko: {{ user.last_name }} <br>
    Email: {{ user.email }} <br>
    Data dołączenia: {{ user.date_joined.date }} <br>
    Liczba aut: {{ user.profile.car_history.count }}
{% endblock %}

{% block container2 %}
     <table id="myTable">
        <tr id="topic"><td  colspan="4"><h3>Historia pojazdów</h3></td>
        <td><h6><a href="{% url 'car-history' user.username %}">Dodaj</a></h6></td></tr>
            <tr id="header">
                <td align="center"> Marka </td>
                <td align="center"> Model </td>
                <td align="center"> Wersja </td>
                <td align="center"> Użytkowany od </td>
                <td align="center"> Użytkowany do </td>
            </tr>
        {% for car in cars %}
            <tr id="myTR">
                <td align="center"><a href="{% url 'car-brand' car.car.brand %}"> {{ car.car.brand }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.car.model }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.car.version }} </a></td>
{#                <td align="center"><a href="{% url 'car-details' car.model car.version %}">{{ car.model }}({{ car.version }})</a></td>#}
                <td align="center"><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.use_from }} </a></td>
                <td align="center"><a href="{% url 'car-details' car.car.model car.car.version %}"> {{ car.use_to }} </a></td>
            </tr>
     {% endfor %}
            </table>

{% endblock %}

{% block container3 %}
    Ostatnie opinie: <br>
    {% for notice in notices %}

        <h4><a href="{% url 'car-details' notice.car.model notice.car.version %}"> {{ notice.car }}</a> {{ notice.date.date }}</h4> <br>
        {{ notice.content }}

    {% endfor %}
{% endblock %}



